/* CSS Document */
body{padding:0;margin:0;background:#f0f0f0; font-family:STHeiti,"华文黑体";}
img,p,ul,li,input{ margin:0; padding:0; list-style-type:none;}
img{border:none;}
.fl{float:left;}
.fr{float:right;}
.clearfix:before,.clearfix:after{display:table;content:"";height:;line-height:0;clear:both}
.clearfix{*zoom:1}

.clearfix-2{
	height: 1200px;
}

*{box-sizing: border-box; margin:0; padding:0;}
a{text-decoration:none;}
a:link{text-decoration:none;}
a:active{text-decoration:none;}
a:hover{text-decoration:none;}
/*常用字体颜色*/
.orange         { color : #f16b1a;}
.grey           { color : #afb0b6;}
.color999       { color : #999;}
.colorBlue      { color : #638ee0;}
.colorOrange    { color : #f0772d;}
.colorRed       { color : #f05555;}
.color666       { color : #666;}
.colorGreen     { color : #26ae69;}
.color94		{color:#949494;}
.bgfff			{background:#fff!important;}
/*细线*/
.retina-1px-border-top:before, .retina-1px-border-bottom:after { position: absolute; background-color: rgba(32,35,37,0.16); content: ""; right: 0; left: 0; height: 1px;z-index:30; width:100%;}
.retina-1px-border-top:before {top:0}
.retina-1px-border-bottom:after {bottom:0;}
@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx) {
	.retina-1px-border-top:before,.retina-1px-border-bottom:after {
		-webkit-transform:scaleY(.5);
		transform:scaleY(.5)
	}
	.retina-1px-border-left:before,.retina-1px-border-right:after {
		-webkit-transform:scaleX(.5);
		transform:scaleX(.5)
	}
	.retina-1px-border:after {
		width:200%;
		height:200%;
		-webkit-transform:scale(.5);
		transform:scale(.5)
	}
	.retina-1px-border-top:before,.retina-1px-border-left:before,.retina-1px-border:after {
		-webkit-transform-origin:0 0;
		transform-origin:0 0
	}
	.retina-1px-border-bottom:after,.retina-1px-border-right:after {
		-webkit-transform-origin:100% 100%;
		transform-origin:100% 100%
	}
}
.retina-1px-border-top1:before, .retina-1px-border-bottom1:after { position: absolute; background-color: #646f72; content: ""; right: 0; left: 0; height: 1px;z-index:30; width:100%;}
.retina-1px-border-top1:before {top:0}
.retina-1px-border-bottom1:after {bottom:0;}
@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx) {
	.retina-1px-border-top1:before,.retina-1px-border-bottom1:after {
		-webkit-transform:scaleY(.5);
		transform:scaleY(.5)
	}
	.retina-1px-border-left:before,.retina-1px-border-right:after {
		-webkit-transform:scaleX(.5);
		transform:scaleX(.5)
	}
	.retina-1px-border:after {
		width:200%;
		height:200%;
		-webkit-transform:scale(.5);
		transform:scale(.5)
	}
	.retina-1px-border-top1:before,.retina-1px-border-left:before,.retina-1px-border:after {
		-webkit-transform-origin:0 0;
		transform-origin:0 0
	}
	.retina-1px-border-bottom1:after,.retina-1px-border-right:after {
		-webkit-transform-origin:100% 100%;
		transform-origin:100% 100%
	}
}
.bdb{border-bottom:1px solid #e0e0e0;}

/*常用间距*/
.pdb1{ padding-bottom:1px;}
.mab20{ margin-bottom:20px;}
.mab25{ margin-bottom:25px;}
.mab10{ margin-bottom:10px;}
.mab0{ margin-bottom:0px!important;}
.mab23{ margin-bottom:23px;}
.mat15{margin-top:15px;}
.mat10{margin-top:10px;}
.pdt10{padding-top:10px;}
.pdb5{padding-bottom:5px;}
.pdb10{padding-bottom:10px;}
.pdl10{padding-left:10px;}
.mat7{margin-top:7px;}
.mat15{margin-top:15px;}
.mar5{margin-right:5px;}
.mar15{margin-right:15px;}
.pd5{padding:5px!important;}
.bd-bottom {border-bottom:1px solid #e0e0e0!important;}

/*常用文本样式*/
.textRight{ text-align:right;}
.textCenter{ text-align:center;}
.fontSize13{font-size:13px;font-family: "微软雅黑"}
.fontSize14{font-size:14px;}
.fontSize16{font-size:16px;}
.fontSize17{font-size:17px;}
.fontSize18{font-size:18px;}

/*常用按钮*/
.btn{padding:0 37px;height:50px;line-height:50px;border:none;border-radius:5px;font-size:20px; display:inline-block;}
.orange-btn {background:#edbe57;color:#fff;}
.gray-btn {background:#CBCBCB;color:#fff;}

.hide{display:none;}

.loadBtn{
	width: 100%;
	background-color: #787878;
}

.positionR{position:relative;z-index:36;}

.header{
	position:relative;
	background:#638ee0;
	color:#ffffff;
	width:100%;
	height:51px;
	line-height:51px;
	font-size:19px;
	margin-bottom:9px;
}
.header .head-left-icon{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:45px;
	text-align:center;
	padding-top:4px;
}
.header .head-right-icon{
	position:absolute;
	top:0;
	right:14px;
	width:30px;
	height:50px;
	text-align:center;
}
.header .head-content{
	width:100%;
	text-align:center;
}
/*表单*/
.main{
	font-size:15px;
	padding-bottom:20px;
}
.main .line{
	width:100%;
}
.main .form-box{
	padding:0 13px;
}
.main .line{
	position:relative;
}
.main .line .input-icon{
	position:absolute;
	top:13px;
	left:13px;
}
.main .line .text-input{
	border:none;
	height:50px;
	width:100%;
	padding-left:40px;
	font-size:16px;
	border-radius:0px;
}

.text-input-2{
	 width: 150px;
	 height: 30px;
	 border:1px solid;
}

.main .form-box p{
	width:100%;
	text-align:center;
}
.main .form-box p a{
	font-size:16px;
	color:#949494;
}
.main .complex-form .complex-line{
	background:#fff;
	color:#3c3c3c;
	width:100%;
	height:52px;
	line-height:52px;
	position:relative;
}
.main .complex-form .complex-line .left-tip{
	position:absolute;
	left:31px;
	top:0;
	z-index:10;
	width:30%;
}
.main .complex-form .complex-line .left-tip img{
	margin-top:13px;
}
.main .complex-form .complex-line .left-tip img, .main .complex-form .complex-line .left-tip span{
	float:left;
	display:block;
}
.main .complex-form .complex-line .right-op{
	position:absolute;
	right:24px;
	top:5px;
	z-index:10;
}
.main .complex-form .complex-line .center-input{
	position:absolute;
	top:0;
	left:0;
	z-index:5;
	width:100%;
}
.main .complex-form .complex-line .center-input input{
	border:none;
	height:50px;
	font-size:16px;
	width:100%;
	padding-left:115px;
}
/*跳转中*/
.main .forward-tip1 .forward-tip1-l{
	font-size:24px;
	color:#edbe57;
}
.main .forward-tip1 .forward-tip1-r{
	color:#3c3c3c;
}
.main .forward-tip2{
	color:#a6a6a6;
}
/*要主办的活动，已报名的活动*/
.ui-tips-box .colorBlue:hover{color:#638ee0; text-decoration:none;}
.ui-tips-box .colorBlue:link{color:#638ee0; text-decoration:none;}
.ui-tips-box .colorBlue:avtive{color:#638ee0; text-decoration:none;}
.ul-box{padding:0 5px;}
.ul-box .data-list li{background:#fff;padding:10px;margin-bottom:8px;}
.ul-box .data-list li .data-li-left, .ul-box .data-list li .data-li-right{float:left;}
.ul-box .data-list li .data-li-right{width:63%;}
.ul-box .data-list li .data-li-left{margin-right:15px;}
.ul-box .data-list li .data-li-right .dlr-title{padding-bottom:8px;margin-bottom:8px; position:relative;}

/*活动分类*/
.classify-head{
	background:#fff!important;
	margin-bottom:0px!important;
}
.classify-head .head-content{
	padding-top:5px;
}
.nav-box{
	position:relative;
	margin-bottom:10px;
}
.nav-box .nav-list{
	background:#fff;
	font-size:14px;
}
.nav-box .nav-list li{
	float:left;
	padding:13px 0 16px 0;
	text-align:center;
	width:25%;
}
.nav-box .nav-list li p{
	margin-top:8px;
}
.classify-li-title, .classify-li-desc, .classify-li-date{
	padding-left:10px;
	padding-top:5px;
}
.classify-li-title,.classify-li-date{
	color:#3c3c3c;
}
.ul-box .classify-li-desc, .ul-box .classify-li-date{
	font-size:12px;
}

/*活动详情*/
.ac-detail-header .head-right-icon{
	padding-top:3px;
	margin-bottom:0px!important;
}
.ac-detail-header{
	margin-bottom:0px!important;
}
.ac-detail-title{
	position:relative;
	background:#fff;
	margin-bottom:5px;
}
.ac-detail-title .fontSize17{
	position:relative;
	padding-top:16px;
	padding-bottom:7px;
	margin-bottom:10px;
}
.ac-detail-title .adt-desc{
	padding:0 11px;
}
.ac-detail-mechanism{
	position:relative;
	background:#fff;
	padding:0 11px;
	margin-bottom:5px;
}
.ac-detail-mechanism .adm-line{
	height:33px;
	line-height:33px;
	position:relative;
	font-size:15px;
}
.ac-detail-desc{
	padding:0 11px;
	background:#fff;
	position:relative;
}
.ac-detail-desc .add-title{
	position:relative;
	height:37px;
	line-height:37px;
	font-size:15px;
}
.ac-detail-desc .add-desc {
	font-size:15px;
	color:#adadad;
	padding-top:6px;
	padding-bottom:16px;
}
.btn-box{
	text-align:center;
	margin-top:15px;
}
.mc{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.4);
	z-index:35;
}
.tc-modal{
	position:absolute;
	left: 0; 
	margin-left:auto;
	margin-right:auto;
	right: 0;
	z-index:36;
	border-radius:8px;
}
.sign-succ-modal{
	top:100px;
	background:#fff;
	width:65%;
	padding:8px;
}
.tc-modal .tc-modal-title{
	text-align:right;
}
.tc-modal .tc-modal-content{
	margin-top:18px;
	margin-bottom:16px;
}
.tc-modal .tc-modal-content .modal-line{
	width:165px;
	margin:0 auto;
}
.tc-modal .tc-modal-content .modal-line .modal-line1{
	color:#edbe57;
	font-size:22px;
}
.tc-modal .tc-modal-content .modal-line .modal-line2{
	color:#484848;
	font-size:18px;
}
.share-modal{
	top:60px;
	background:#e9e9e9;
	width:100%;
	border-radius:0px!important;
}
.share-modal ul{
	padding:20px;
}
.share-modal ul li{
	float:left;
	text-align:center;
	font-size:14px;
	width:33.3333%;
	padding-bottom:16px;
}
.share-modal .bottom-close{
	position:relative;
	width:100%;
	height:40px;
	line-height:40px;
	background:#dfdfdf;
	text-align:center;
}
.share-modal .bottom-close a{
	display:block;
	width:100%;
	color:#2b61c0;
	font-size:16px;
}
.sign-succ-modal .sure-icon{
	position:absolute;
	left: 0; 
	margin-left:auto;
	margin-right:auto;
	right: 0;
	border-radius:180px;
	top:-18px;
}

/*场地*/
.ground .mc{
	top:94px;
}
.search-box{
	padding-right:10px;
	margin-top:5px;
	background:#fff;
	position:relative;
	height:38px;
	line-height:38px;
	z-index:36;
}
.search-box .search-parent-list li{
	float:left;
	width:25%;
	text-align:center;
	background:url(/campD/static/images/select_icon.png) no-repeat 90%;
	background-size:8px 7px;
}
.ground-list li .data-li-right .dlr-title{
	padding-top:4px;
	margin-bottom:0px!important;
	padding-bottom:5px!important;
}
.ground-list li .data-li-right .dlr-address, .ground-list li .data-li-right .dlr-cost{
	color:#a5a5a5;
	font-size:14px;
}
.ground-list li .data-li-right .dlr-cost .co{
	color:#e6c680;
}
.ground-list li .data-li-right .dlr-address{
	margin-bottom:4px;
}
.ground-no{
	color:#949494;
	padding-top:27px;
	text-align:center;
}
.ground-no p{
	margin-top:16px;
}
.search-box .search-detail{
	position:absolute;
	left:0;
	top:38px;
	z-index:36;
	background:#fff;
	padding-top:16px;
	padding-bottom:6px;
	width:100%;
}
.search-box .search-detail li{
	float:left;
	margin-left:8px;
	width:30%;
	border:1px solid #e0e0e0;
	text-align:center;
	border-radius:13px;
	height:29px;
	line-height:29px;
	margin-bottom:13px;
	font-size:14px;
}
.search-box .search-detail .active{
	color:#fff;
	background:#e6cf9c;
	border:1px solid #e6cf9c;
}

/*举办活动*/
.hold-ac-header{
	margin-bottom:0px!important;
}
.hold-ac-header .head-right-icon{
	width:62px;
	right:5px;
	color:#fff;
}
.hold-ac-header .head-right-icon img{
	margin-top:16px;
	float:left;
	margin-right:3px;
}
.hold-ac-header .head-right-icon span{
	float:left;
	display:inline-block;
	font-size:17px;
}

/*举办活动*/
.sub-ac-form .line{
	display:block;
	color:#3c3c3c;
	padding:0 31px 0 16px;
	height:45px;
	line-height:45px;
	background:#fff;
	border-bottom:1px solid #e0e0e0;
	font-size:15px;
}
.sub-ac-form a:hover{color:#3c3c3c;}
.sub-ac-form a:link{color:#3c3c3c;}
.sub-ac-form a:active{color:#3c3c3c;}
.sub-ac-form .line .fr{
	color:#adadad;
}
.sub-ac-form .line .go-img{
	position:absolute;
	top:13px;
	right:13px;
	z-index:29;
}
/*举办活动-活动类型，活动城市，活动人数*/
.hold-type-header{
	margin-bottom:0px;
}
.hold-type-header .head-left-icon, .hold-type-header .head-right-icon{
	font-size:17px;
	color:#fff;
	font-family:Verdana,"华文细黑";
}
.hold-type-header .head-left-icon:hover{
	color:#fff;
	text-decoration:none;
}
.hold-type-header .head-left-icon:link{
	color:#fff;
	text-decoration:none;
}
.hold-type-header .head-left-icon:active{
	color:#fff;
	text-decoration:none;
}
.hold-type-header .head-right-icon{
	width:40px;
}
.type-form .line .fl{
	color:#949494;
}
.type-form .active .fl{
	color:#638ee0!important;
}
.type-form .active .fr{
	background:url(/campD/static/images/gou_blue.png) no-repeat center;
	background-size:20px 14px;
	width:20px;
	height:45px;
}
/*举办活动-活动需求*/
.sub-desc-form{
	padding:10px 5px 0px 5px;
}
.sub-desc-form .ac-desc-text{
	width:100%;
	border:none;
	border-radius:3px;
	padding:14px 16px;
	font-size:15px;
	resize: none;
}

.ac-desc-text-2{
	width:80%;
	resize: none;
	height:80px;
	border:1px solid;
	margin-top: 8px;
}
/*首页*/
.img-tap-show{
	width:100%;
	height:125px;
	
}
/*轮播图样式*/
.img-tap-show ol{position:relative;width: 80px;height: 20px;top:-30px;left:60px;}
.img-tap-show ol li{float:left;width: 10px;height: 10px; -moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;margin: 5px;background: #fff;}/*圆形的滚动点*/
.img-tap-show ol li.seleted{background: #1AA4CA;}

/*场地*/
.img-tap-show-space{
	width:100%;
	height:125px;
	
}
/*场地轮播图样式*/
.img-tap-show-space ol{position:relative;width: 80px;height: 20px;top:-30px;left:60px;}
.img-tap-show-space ol li{float:left;width: 10px;height: 10px; -moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;margin: 5px;background: #fff;}/*圆形的滚动点*/
.img-tap-show-space ol li.seleted{background: #1AA4CA;}

.main .contain{
	padding:10px 5px 0px 5px;
	font-size:11.5px;
}
.main .contain .c-top{
	padding:0px 5px 4px 5px;
}
.main .contain .ul-box{
	padding:0;
}
.main .contain .ul-box .classify-li-title{
	font-size:15px;
}
.main .contain .ul-box .classify-li-desc, .main .contain .ul-box .classify-li-date{
	font-size:12px;
}
.index-nav{
	position:absolute;
	top:51px;
	left:9px;
	z-index:20;
	background:rgba(0,0,0,0.5);
	color:#b8c3c6;
	font-size:17px;
	width:147px;
	border-radius:4px;
}
.index-nav ul li{
	padding-left:17px;
	position:relative;
	height:44px;
	line-height:44px;
}
.mao{
	position:absolute;
	width:100%;
	height:100%;
	z-index:40;
	opacity:0.5;
}
.m-active{
	-webkit-filter: blur(4px); /* Chrome, Opera */
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);  
    filter: blur(4px);
}
.person-right{
	position:absolute;
	top:0;
	right:0;
	width:70%;
	height:100%;
	background:#fff;
	z-index:41;
	opacity:.9;
	padding-top:60px;
	font-size:18px;
}
.person-right .line{
	width:100%;
	height:54.5px;
	line-height:54.5px;
	padding-left:18.5px;
}
.person-right .line:hover{
	background:#d7e0e1;
}
.person-right .line .left-img{
	border-radius:180px;
	margin-top:6px;
	margin-right:17px;
}
/*################ add by qrh. Be careful! ##################*/
#actc{
	height: 102px;
}
