/* CSS Document */
body{padding:0;margin:0;background:#f0f0f0; font-family:STHeiti,"閸楀孩鏋冩鎴滅秼";}
img,p,ul,li,input{ margin:0; padding:0; list-style-type:none;}
img{border:none;}
.fl{float:left;}
.fr{float:right;}
.clearfix:before,.clearfix:after{display:table;content:"";height:;line-height:0;clear:both}
.clearfix{*zoom:1}
.clearfix a{ color:#000000;}
*{box-sizing: border-box; margin:0; padding:0;}
a{text-decoration:none;}
a:link{text-decoration:none;}
a:active{text-decoration:none;}
a:hover{text-decoration:none;}
/*鐢摜鏁ょ€涙ぞ缍嬫０婊嗗*/
.orange         { color : #f16b1a;}
.grey           { color : #afb0b6;}
.color999       { color : #999;}
.colorBlue      { color : #638ee0;}
.colorOrange    { color : #f0772d;}
.colorRed       { color : #f05555;}
.color666       { color : #666;}
.colorGreen     { color : #26ae69;}
.color94		{color:#949494; font-size:16px;}
.bgfff			{background:#fff!important;}
/*缂佸棛鍤� (32,35,37,0.16)*/
.retina-1px-border-top:before, .retina-1px-border-bottom:after { position: absolute; background-color:rgba(32,35,37,0.16); content: ""; right: 0; left: 0; height: 1px;z-index:30; width:100%;}
.retina-1px-border-top:before {top:0}
.retina-1px-border-bottom:after {bottom:0;}
@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx) {
	.retina-1px-border-top:before,.retina-1px-border-bottom:after {
		-webkit-transform:scaleY(.5);
		transform:scaleY(.5)
	}
	.retina-1px-border-left:before,.retina-1px-border-right:after {
		-webkit-transform:scaleX(.5);
		transform:scaleX(.5)
	}
	.retina-1px-border:after {
		width:200%;
		height:200%;
		-webkit-transform:scale(.5);
		transform:scale(.5)
	}
	.retina-1px-border-top:before,.retina-1px-border-left:before,.retina-1px-border:after {
		-webkit-transform-origin:0 0;
		transform-origin:0 0
	}
	.retina-1px-border-bottom:after,.retina-1px-border-right:after {
		-webkit-transform-origin:100% 100%;
		transform-origin:100% 100%
	}
}
.retina-1px-border-top1:before, .retina-1px-border-bottom1:after { position: absolute; background-color: #646f72; content: ""; right: 0; left: 0; height: 1px;z-index:30; width:100%;}
.retina-1px-border-top1:before {top:0}
.retina-1px-border-bottom1:after {bottom:0;}
@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx) {
	.retina-1px-border-top1:before,.retina-1px-border-bottom1:after {
		-webkit-transform:scaleY(.5);
		transform:scaleY(.5)
	}
	.retina-1px-border-left:before,.retina-1px-border-right:after {
		-webkit-transform:scaleX(.5);
		transform:scaleX(.5)
	}
	.retina-1px-border:after {
		width:200%;
		height:200%;
		-webkit-transform:scale(.5);
		transform:scale(.5)
	}
	.retina-1px-border-top1:before,.retina-1px-border-left:before,.retina-1px-border:after {
		-webkit-transform-origin:0 0;
		transform-origin:0 0
	}
	.retina-1px-border-bottom1:after,.retina-1px-border-right:after {
		-webkit-transform-origin:100% 100%;
		transform-origin:100% 100%
	}
}
.bdb{border-bottom:1px solid #e0e0e0;}

/*鐢摜鏁ら梻纾嬬獩*/
.pdb1{ padding-bottom:1px;}
.mab20{ margin-bottom:20px;}
.mab25{ margin-bottom:25px;}
.mab10{ margin-bottom:15px;}
.mab0{ margin-bottom:0px!important;}
.mab23{ margin-bottom:23px;}
.mat8{margin-top:8px;}
.mat15{margin-top:15px;}
.mat10{margin-top:20px;}
.mat51{margin-top:51px;}

.pdb5{padding-bottom:5px;}
.pdb10{padding-bottom:10px;}
.pdl10{padding-left:10px;}
.mat7{margin-top:7px;}
.mar5{margin-right:5px;}
.mar15{margin-right:15px;}
.pd5{padding:12px 5px!important;}
.bd-bottom {border-bottom:1px solid #e0e0e0!important;}

/*鐢摜鏁ら弬鍥ㄦ拱閺嶅嘲绱�*/
.textRight{ text-align:right;}
.textCenter{ text-align:center;}
.fontSize13{font-size:16px; line-height:24px;}
.fontSize14{font-size:14px;}
.fontSize16{font-size:16px;}
.fontSize17{font-size:17px;}
.fontSize18{font-size:18px;}


/*鐢摜鏁ら幐澶愭尦*/
.btn{padding: 0 20px;height:50px;line-height:50px;border:none;border-radius:5px;font-size:20px; display:inline-block;}
.orange-btn {color:#fff; background:#edbe57;}
.gray-btn {background:#CBCBCB;color:#fff;}
.loadBtn{
	width: 100%;	
}
#loadMore_li{
	margin:0px auto;/*14px*/
	text-align:center;
}
.jiazai{
	width:100%;
	background-color:#f0f0f0;
	border:none;
	font-size:14px;
	color:#848484;
}

.hide{display:none;}

.positionR{position:relative;z-index:42;}

.header{
	position:relative;
	background:#638ee0;
	color:#ffffff;
	width:100%;
	height:51px;
	line-height:51px;
	font-size:19px;
}
.header .head-left-icon{
	position:absolute;
	top:0;
	left:2px;
	display:block;
	width:45px;
	text-align:center;
	padding-top:4px;
}
.header .head-content{
	width:100%;
	text-align:center;
}
/*鐞涖劌宕�*/
.main{
	font-size:15px;
	padding-bottom:20px;
}
.main .line{
	width:100%;
}
.main .form-box{
	padding:0 13px;
}
.main .line{
	position:relative;
}
.main .line .input-icon{
	position:absolute;
	top:13px;
	left:13px;
}
.main .line .text-input{
	border:none;
	height:50px;
	width:100%;
	padding-left:40px;
	font-size:16px;
	border-radius:0px;
}

/*濞戯箑宕曢弬鏉款杻*/
.text-input-2{
	 width: 110px;
	 height: 25px;
	 border:1px #CCC solid;
}

.main .form-box p{
	width:100%;
	text-align:center;
}
.main .form-box p a{
	font-size:16px;
	color:#949494;
}
.main .complex-form .complex-line{
	background:#fff;
	color:#3c3c3c;
	width:100%;
	height:52px;
	line-height:52px;
	position:relative;
}
.main .complex-form .complex-line .left-tip{
	position:absolute;
	left:31px;
	top:0;
	z-index:10;
	width:30%;
}
.main .complex-form .complex-line .left-tip img{
	margin-top:13px;
}
.main .complex-form .complex-line .left-tip img, .main .complex-form .complex-line .left-tip span{
	float:left;
	display:block;
}
.main .complex-form .complex-line .right-op{
	position:absolute;
	right:24px;
	top:5px;
	z-index:10;
}
.main .complex-form .complex-line .center-input{
	position:absolute;
	top:0;
	left:0;
	z-index:5;
	width:100%;
}
.main .complex-form .complex-line .center-input input{
	border:none;
	height:50px;
	font-size:16px;
	width:100%;
	padding-left:115px;
}
/*鐠哄疇娴嗘稉锟�*/
.main .forward-tip1 .forward-tip1-l{
	font-size:26px;
	color:#edbe57;
}
.main .forward-tip1 .forward-tip1-r{
	color:#3c3c3c;
	font-size:22px;
}
.main .forward-tip2{
	color:#a6a6a6;
	font-size:22px;
}
/*鐟曚椒瀵岄崝鐐垫畱濞茶濮╅敍灞藉嚒閹躲儱鎮曢惃鍕た閸旓拷*/
.ui-tips-box .colorBlue:hover{color:#638ee0; text-decoration:none;}
.ui-tips-box .colorBlue:link{color:#638ee0; text-decoration:none;}
.ui-tips-box .colorBlue:avtive{color:#638ee0; text-decoration:none;}
.ul-box{padding:0 5px;}
.ul-box .data-list li{background:#fff;padding:6px;margin-top:8px;}
.ul-box .data-list li .data-li-left, .ul-box .data-list li .data-li-right{float:left;}
.ul-box .data-list li .data-li-right{width:63%;margin-top:-3px;}
.ul-box .data-list li .data-li-left{margin-right:10px;}
.ul-box .data-list li .data-li-right .dlr-title{padding-bottom:8px;margin-bottom:8px; display:block; /*position:relative;*/}

/*濞茶濮╅崚鍡欒*/
.classify-head{
	background:#fff!important;
	margin-bottom:0px!important;
}
.classify-head .head-content{
	padding-top:5px;
}
.nav-box{
	position:relative;
}
.nav-box .nav-list{
	background:#fff;
	font-size:14px;
}
.nav-box .nav-list li{
	float:left;
	padding:13px 0 16px 0;
	text-align:center;
	width:25%;
}
.nav-box .nav-list li p{
	margin-top:8px;
}
.classify-li-title, .classify-li-desc, .classify-li-date{
	padding-left:10px;
	padding-top:5px;
	padding-right:10px;
}
.classify-li-title,.classify-li-date{
	color:#3c3c3c;
}
.ul-box .classify-li-desc, .ul-box .classify-li-date{
	font-size:12px;
}

/*濞茶濮╃拠锔藉剰*/
.fontSize14 table{
	line-height:22px;
	font-size:15px;
	margin-top: 35px;
}
.fontSize14 table tr{
	margin-top:-23px;
	float:left;
}
.dress01{
	padding-top:22px;
}
.ac-detail-header .head-right-icon{
	padding-top:3px;
	margin-bottom:0px!important;
}
.ac-detail-header{
	margin-bottom:0px!important;
}
.ac-detail-title{
	position:relative;
	background:#fff;
	margin-bottom:5px;
}
.ac-detail-title .fontSize17{
	position:relative;
	padding-top:16px;
	padding-bottom:7px;
	margin-bottom:10px;
}
.ac-detail-title .adt-desc{
	padding:0 0 5px 11px;/* 下边距改14px改成5px*/
}
.ac-detail-mechanism{
	position:relative;
	background:#fff;
	padding:0 11px;
	margin-bottom:5px;
}
.ac-detail-mechanism .adm-line{
	/*height:33px;
    line-height:33px;*/
	position:relative;
	font-size:15px;
}
.ac-detail-desc{
	padding:0 11px;
	background:#fff;
	position:relative;
}
.ac-detail-desc .add-title{
	position:relative;
	height:37px;
	line-height:37px;
	font-size:15px;
}
.ac-detail-desc .add-desc {
	font-size:15px;
	color:#adadad;
	padding-top:6px;
	padding-bottom:16px;
	line-height:22px;
	margin-bottom:35px;
}

.btn-box{
	text-align: center;
}
.btn-box a{
	letter-spacing:4px;
}
.mc{
	position:absolute;
	top:140px;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.4);
	z-index:35;
}
.tc-modal{
	position:absolute;
	left: 0; 
	margin-left:auto;
	margin-right:auto;
	right: 0;
	z-index:36;
	border-radius:8px;
	filter:alpha(opacity:80);
	opacity:1;
}
.sign-succ-modal{
	top:100px;
	background:#fff;
	width:70%;
	padding: 10px 10px 30px 30px;
}
.tc-modal .tc-modal-title{
	text-align:right;
}
.tc-modal .tc-modal-content{
	margin:20px 0 30px 21px;
}
.tc-modal .tc-modal-content .modal-line{
	width:100%;
	margin:0 auto;
}
.tc-modal .tc-modal-content .modal-line .modal-line1{
	color:#edbe57;
	/*font-size:24px;*/
}
/*字体修改*/
.tc-modal .tc-modal-content .modal-line .newmodal-line1{
	font-size:22px;
}

.tc-modal .tc-modal-content .modal-line .modal-line2{
	color:#484848;
	/*font-size:22px;*/
}
/*字体修改*/
.tc-modal .tc-modal-content .modal-line .newmodal-line2{
	font-size:20px;
}
.share-modal{
	top:50px;
	background:#e9e9e9;
	width:100%;
	border-radius:0px!important;
	text-align: center;
}
.share-modal ul{
	padding:20px;
}
.share-modal ul li{
	float:left;
	text-align:center;
	font-size:14px;
	width:33.3333%;
	padding-bottom:16px;
}
.share-modal .bottom-close{
	position:relative;
	width:100%;
	height:40px;
	line-height:40px;
	background:#dfdfdf;
	text-align:center;
}
.share-modal .bottom-close a{
	display:block;
	width:100%;
	color:#2b61c0;
	font-size:16px;
}
.sign-succ-modal .sure-icon{
	position:absolute;
	left: 0; 
	margin-left:auto;
	margin-right:auto;
	right: 0;
	border-radius:180px;
	top:-18px;
}

/*閸﹀搫婀�*/
/*.ground .mc{
	top:56px;
}*/
.search-box{
	padding-right:10px;
	position:relative;
	margin-top:101px;
	line-height:45px;
	z-index:36;
	background:#fff;
	margin-bottom:-8px;
}
.search-box .search-parent-list li{
	float:left;
	width:25%;
	text-align:center;
	background-size:8px 7px;
}
.ground-list li .data-li-right .dlr-title{
	padding-top:4px;
	margin-bottom:0px!important;
	padding-bottom:5px!important;
}
.ground-list li .data-li-right .dlr-address, .ground-list li .data-li-right .dlr-cost{
	color:#a5a5a5;
	font-size:14px;
}
.ground-list li .data-li-right .dlr-cost .co{
	color:#e6c680;
	padding-right: 3px;
}

.ground-list li .data-li-right .dlr-address{
	margin-bottom:4px;
}
.ground-no{
	color:#949494;
	padding-top:27px;
	text-align:center;
	background:#f0f0f0;
}
.ground-no p{
	margin-top:16px;
}
.search-box .search-detail{
	position:absolute;
	left:0;
	top:46px;
	z-index:36;
	background:#fff;
	padding-top:16px;
	padding-bottom:6px;
	width:100%;
	min-height:65%;
}
.search-box .search-detail li{
	float:left;
	margin-left:8px;
	width:30%;
	border:1px solid #e0e0e0;
	text-align:center;
	border-radius:13px;
	height:29px;
	line-height:29px;
	margin-bottom:13px;
	font-size:14px;
}
.search-box .search-detail .active{
	color:#fff;
	background:#e6cf9c;
	border:1px solid #e6cf9c;
}

/*娑撴儳濮欏ú璇插З*/
.hold-ac-header{
	margin-bottom:0px!important;
}
.hold-ac-header .head-right-icon{
	width:62px;
	right:5px;
	color:#fff;
}
.hold-ac-header .head-right-icon img{
	margin-top:16px;
	float:left;
	margin-right:3px;
}
.hold-ac-header .head-right-icon span{
	float:left;
	display:inline-block;
	font-size:17px;
}

/*娑撴儳濮欏ú璇插З*/
.sub-ac-form .line{
	display:block;
	color:#3c3c3c;
	padding:0 31px 0 16px;
	height:45px;
	line-height:45px;
	background:#fff;
	border-bottom:1px solid #e0e0e0;
	font-size:15px;
}
.sub-ac-form a:hover{color:#3c3c3c;}
.sub-ac-form a:link{color:#3c3c3c;}
.sub-ac-form a:active{color:#3c3c3c;}
.sub-ac-form .line .fr{
	color:#adadad;
}
.sub-ac-form .line .go-img{
	position:absolute;
	top:13px;
	right:13px;
	z-index:29;
}

/*娑撴儳濮欏ú璇插З-elissa閺傛澘顤�*/
.sub-ac-form{
	width:100%;
	line-height:35px;
	margin:-15px 0 20px 0;
	padding:5px 0 5px 0;
	display:block;
	float:left;
	background:#FFF;
}
.sub-ac-form dl{
	float:left;
	width:100%;
	border-bottom:1px #CCCCCC solid;
	padding:2px 0 5px 12px;
}
.sub-ac-form dl dt{
	float:left;
	width:24%;
}
.sub-ac-form dl dt dd{
	float:left;
	margin-left:12px;
}

.ac-desc-text-2{
	margin:6px 0 0 0;
	border:1px #CCCCCC solid;
	width:170px;
}
.sub-ac-form dl select{
	width: 110px;
	height:25px;
	border:1px #CCCCCC solid;
	appearance: none;
}


/*娑撴儳濮欏ú璇插З-濞茶濮╃猾璇茬€烽敍灞炬た閸斻劌鐓勭敮鍌︾礉濞茶濮╂禍鐑樻殶*/
.hold-type-header{
	margin-bottom:0px;
}
.hold-type-header .head-left-icon, .hold-type-header .head-right-icon{
	font-size:17px;
	color:#fff;
	font-family:Verdana,"閸楀孩鏋冪紒鍡涚拨";
}
.hold-type-header .head-left-icon:hover{
	color:#fff;
	text-decoration:none;
}
.hold-type-header .head-left-icon:link{
	color:#fff;
	text-decoration:none;
}
.hold-type-header .head-left-icon:active{
	color:#fff;
	text-decoration:none;
}
.hold-type-header .head-right-icon{
	width:40px;
}
.type-form .line .fl{
	color:#949494;
}
.type-form .active .fl{
	color:#638ee0!important;
}
.type-form .active .fr{
	background:url(/static/images/gou_blue.png) no-repeat center;
	background-size:20px 14px;
	width:20px;
	height:45px;
}
/*娑撴儳濮欏ú璇插З-濞茶濮╅棁锟藉Ч锟�*/
.sub-desc-form{
	padding:10px 5px 0px 5px;
}
.sub-desc-form .ac-desc-text{
	width:100%;
	border:none;
	border-radius:3px;
	padding:14px 16px;
	font-size:15px;
}

/*妫ｆ牠銆�*/
.img-tap-show{
	width:100%;
	height:156px;
}

.main .contain{
	padding-top:10px;
	font-size:13px;
}
.main .contain .index-act{
	padding:13px 10px;
    height: 40px;
    background:#fff;
    border-bottom: 1px solid rgba(16,2,7,0.06);
    color:#484848;
	margin-bottom: -8px;
	margin-top: -4px;
}
.main .contain .c-top{
	padding:13px 10px;
    height: 40px;
    background:#fff;
    border-bottom: 1px solid rgba(16,2,7,0.06);
    color:#484848;
    margin-bottom: -8px;
    margin-top: 8px;
}
.main .contain .ul-box{
	padding:0;
}
.main .contain .ul-box .classify-li-title{
	font-size:15px;
}
.main .contain .ul-box .classify-li-desc, .main .contain .ul-box .classify-li-date{
	font-size:12px;
}
.index-nav{
	position:fixed;/*固定定位*/
	top:51px;
	left:9px;
	z-index:20;
	background:rgba(0,0,0,0.5);
	color:#b8c3c6;
	font-size:17px;
	width:147px;
	border-radius:4px;
}
.index-nav ul li{
	padding-left:17px;
	position:relative;
	height:44px;
	line-height:44px;
}
.mao{
	position:absolute;
	width:100%;
	height:100%;
	z-index:40;
	opacity:0.5;
}
.m-active{
	-webkit-filter: blur(4px); /* Chrome, Opera */
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);  
    filter: blur(4px);
}
.person-right{
	position:absolute;
	top:0;
	right:0;
	width:100%;/*70%*/
	height:100%;
	background-color:rgba(255,255,255,0.6);
	z-index:41;
	padding-top:60px;
	font-size:18px;
	
}
/*给head加透明度*/
.person-right .newperson-right{
	position:fixed;
	top:51px;
	width:100%;
	height:230px;
	margin:0px;
	padding:0 0 12px 0;
	background-color:rgba(255,255,255,1);
}
.person-right .newperson-right .line{
	width:100%;
	height:54.5px;
	line-height:54.5px;
	padding-left:18.5px;
}
.person-right .newperson-right .line:hover{
	background:#d7e0e1;
}
.person-right  .newperson-right  .line .left-img{
	border-radius:180px;
	margin-top:6px;
	margin-right:17px;
}
/*################ add by qrh. Be careful! ##################*/
#actc{
	height: 102px;
}

/*######### 错误页面  ######## */

.point{
	width:43%;
	margin:35px auto;
}
.point a{
	padding-right:8px;
}

/* 鍔犺浇涓牱寮�  */
.loading{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background: white;
}
.loading img{
	display: block;
    margin: 0 auto;
    padding-top: 10%;
    z-index:100;
}

/* 关注我们样式 */
.newtc-modal{
	  background:rgba(0,0,0,0.5);
	  width:100%;
	  height:100%;
}
.tc-modal .more{
	text-align:center;
	position:relative;
	margin-top:105px;
	display:block;
	height:21px;
	color:#fff;
}
.tc-modal .close{
	width:25px;
	height:25px;
	position:relative;
	top:-329px;
	right:-129px;
	border:1px solid rgba(255,255,255,0.3);
}
.tc-modal  .ma{
	text-align:center;
	top:95px;
	position:relative;
}
   /* 场地交通地址样式修改*/
 .clearfix .newfl{
 margin-right:10px;
 width:5%;
 }
 .clearfix .newfr1{	
	margin-right:5px;
	width:88%;	
	padding-bottom:10px;
	border-bottom:1px solid  rgba(16,2,7,0.06);
}
 .clearfix .newfr2{	
	margin-right:5px;
	width:88%;	
	padding-bottom:10px;
}
.adt-desc  .newmat{
	margin-top:10px;
}
.adt-desc  .fontSize14{
	line-height:20px;
}

/*error页面修改*/
.error{
	width:100%;
	height:100%;
	background:#fff; 
	
}
.pic{
	position:relative;
	width:100%;
	height:100%;
	
}
.pic img{
	width:100%;
	height:100%;
	display:block;
}
.pic .word{
	 position:absolute;
	 top: 45%; 
	 left: 20%;
     width: 70%; 
     height: 10%;	
	 color:#fff;
	 font-size:22px;
}
.pic .word p{
	margin-left:5px;
	margin-bottom:15px;
}
.pic .word ul li{
	list-style-type:disc;
	margin-bottom:15px;
	margin-right:20px;
	margin-left: 20px;
}
.pic .point{
	position:absolute;
	top:60%;
	left:10%;
	margin-left:15%;
}
.pic .point a{
	color:#fff;
	font-size:22px;
	
}
.pic .point .new{
	width:30px;
	height:30px;
	display:inline-block;
	margin-left:15px;
}
/*loadmore修改*/
#loadMore{
	color:#a5a5a5;
}
/*电话修改*/
.btn-box {
 width:100%;
 position:fixed;
 bottom:0px;
 background:#fff;
 z-index:50;
 }

 .btn-box .btn{
	text-align:center;
	padding-top:0px;
	vertical-align:middle;
	width:60%;
}
.btn-box .btn .cellphone{
	width:30px;
	height:30px;
	margin-right:10px;
	margin-top:0px;
	vertical-align:middle;
}

/*网址换行*/
.add-desc{
	word-wrap: break-word; 
	word-break: normal;
}
/* 场地详情foot修改*/
.newfoot-left-icon{
	float:left;
	display:block;
	width:20%;
	text-align:center;
	line-height:50px;
	background:#fff;
}
.newfoot-right-icon{
   float:right;
	bottom:0;
	display:block;
	width:20%;
	text-align:center;
	line-height:50px;
	background:#fff;
}
.footer .btnheight{
	position:absolute;
	left:20%;
	bottom:0px;
	height:52px;
}
/*活动详情 timedate dress*/
.adt-desc .timedate{
	padding-bottom:5px;
	margin-top:12px;
}
.timedate .time{
	margin-right:15px;
	margin-top:4px;
}
.timedate .date{
	margin-left:30px;
	display:block;
	padding-bottom:12px;
	border-bottom:1px solid rgba(32,35,37,0.16);
}
.adt-desc .dress{
		margin-top:5px;
		margin-bottom:8px;
}
.dress .address{
	margin-right:15px;
	margin-top:4px;
}
/* 场地轮播图修改*/
.worddescription{
	position:absolute;
	left:0px;
	bottom:0px;
	background:rgba(0,0,0,0.3);
	width:100%;
	height:45px;
	color:#fff;
	padding-left:15px;
	line-height:20px;
	padding-top:15px;
	font-size:17px;
}
/*活动详情名称*/
.hdname{
	position: relative;
    margin-left: 0px;
    margin-top: -48px;
	background:rgba(0,0,0,0.3);
	width:100%;
	height:45px;
	color:#fff;
	padding-left:15px;
	line-height:20px;
	padding-top:15px;
	font-size:17px;
	
}
/*hd主办方，联合方*/
.ac-detail-mechanism .adm-line {
	padding:10px 2px 10px 2px;
}
.ac-detail-mechanism .adm-line .sponsor{
	color:#949494;
	width:25%;
}
.ac-detail-mechanism .adm-line .sponserInfo{
	width:75%;
	display:inline;	
}

/*适用活动，基础设施*/
.activebase{
	  position:relative;
      background: #fff;
      padding: 0 11px;
      margin-bottom: 5px;
}
.activebase .padt10{
	padding-top:10px;
}
.activebase .active{
	position:relative;
}
.activebase .padt10 .percent{
	width:30%;
	padding: 8px 2px 16px 2px;
}
.activebase .padt10 .consider{
	margin-left:2%;
	margin-right:3%;
}
.activebase .padt10 .consider li.considerpic{
	float:left;
	margin-right:8%;
	line-height: 25px;
}
.newheader{
	position:fixed;
	top:0px;
	left:0px;
}
/*header固定定位*/	
.newheader{
	position:fixed;
	top:0px;
	left:0px;
}
/*活动页hdmat51*/
.hdmat51{
	margin-top:51px;
}
/*首页轮播图*/
 .main  .mat51{
	margin-top:51px;
}
/**/
.ac-detail-desc .add-desc img{
	width:100%;
}
/*newindex-nav*/
 .newindex-nav {
	position:fixed;
	bottom:53px;
	left:5px;
    background: rgba(0,0,0,0.5);
    color: #b8c3c6;
    font-size: 17px;
     width: 147px;
     border-radius: 4px;
     z-index:40;
}
.newindex-nav ul li {
  margin-left: 17px;
  position: relative;
  height: 44px;
  line-height: 44px;
}
 .newindex-nav  ul li .tu{
	margin-right:8px;
}
/*footer-right*/
.footer-newperson-right{
	position:fixed;
	bottom:52px;
	right:0px;
	width:230px;
	background-color:rgba(255,255,255,1);
	width:50%;
}
.footer-newperson-right .line{
	height:54.5px;
	line-height:54.5px;
	padding-left:18.5px;
}
.footer-newperson-right .line .left-img{
	border-radius:180px;
	margin-top:6px;
	margin-right:17px;
}
/*联系我们*/
.contactdetail{
	width:100%;
	background:#fff;
	margin-bottom:7px;
	height:100px;
	}
.contactdetail .flpic{
	width:15%;
	padding-top:15px;
	display:block;
	margin-right:10%;
	margin-left:1%;
	}
.contactdetail .flword{
	width:74%;
	}
.contactdetail .flword .title{
	color:#5a5a5a;
	font-size:17px;
	font-family:"微软雅黑";
	padding-top:20px;
	}
.contactdetail .flword .btn{
	font-family:"华文黑体";
	text-align:center;
	font-size:14px;
	border:1px solid #f1bb46;
	height:30px;
	line-height:30px;
	margin-top:12px;
	margin-right:10px;
	color:#f1bb46;
	display:inline-block;
	}
/* footer-right-icon 菜单*/
.wode{
	height:100%;
	width:100%;
	background:#f3f1f1;
	z-index:60;
	}
.wode .logoword{
	height:40%;
	width:100%;
	}
.wode .logoword img{
	display:block;
	position:absolute;
	top:20%;
	bottom:80%;
    margin-left:25%;
	margin-right:25%;
	width:50%;
	text-align:center;
	}
.wode .list-des{
	   position:absolute;
	   top:55%;
	   left:0px;
	   width:100%;
	   height:30%;
	}
.list-des .listmar{
	 float:left;
	 width:25%;
	 margin-left:4%;
	 margin-right:4%;
	}
.list-des .listmar .list-pic{
	text-align:center;
	}	
.list-des .listmar .list-word {
    text-align:center;
	color:#606060;
	font-family:"微软雅黑";
	}
.wode  .close{
	position:fixed;
    bottom:0px;
	left:0px;
	width:100%;
	background:#fcfcfc;
	height:51px;
	line-height:51px;
	text-align:center;
	}
/*精美礼品页*/
.pd5 .giftword{
	margin-top:0px;
	padding-left:10px;
	color:#3c3c3c;
	font-size:15px;
	letter-spacing:1px;
	}
.pd5 .giftrange{
	padding-top:5px;
	padding-left:10px;
	color:#3c3c3c;
	font-size:12px;
	}
.pd5 .giftrange span{
	margin-left:8px;
	margin-right:2px;
	}
/*礼品首页*/
.search-box  .giftlist li{
	width:30%;
	margin-left:3%;
	font-size:15px;
	font-family:"微软雅黑";
	display:block;
	}
.ul-box .data-list .gift-list{
	height:78px;
	position:relative;
	}
.mat5{
	margin-top:5px;
	}
.gift-list .gift-li-left{
	display:block;
	margin-right:10px;
	}
.gift-list .gift-li-right .title{
	padding-top:7px;
	font-size:14px;
	color:#000;
	}
.gift-list .gift-li-right .style{
	color:#a5a5a5;
	padding-top:10px;
	font-size:13px;
	}
.gift-list .gift-li-right .style .stylecolor{
	color:#e6c680;
	}

/*礼品详情*/
.bt-line{
	 border-bottom: 1px solid rgba(16,2,7,0.06);
	 width:100%;
}
.giftpic{
	position:relative;
	background: #fff;
    margin: 0px;
    padding: 0px;
	}
.giftpic .worddescription{
	bottom:3px;
}
.ac-detail-mechanism .adm-line .dresspic{
	text-align:center;
	margin-top:5px;
	padding-top:2px;
	}
.ac-detail-mechanism .adm-line .dress{
	width:85%;
	margin-left:2%;
	margin-right:5%;
}
.act .giftstyle{
     margin-left:1%;
     margin-right:2%;
	}
.ac-detail-mechanism .act{
	position:relative;
}
/*小三角*/
.conrner {
  border-color:#a5a5a5 transparent transparent transparent;
  border-style: solid;
  border-width: 7px 4px 0px 4px;
  width: 0;
  height: 0;
  float:right;
  margin-right:15px;
  margin-top: 19px;
}
/*礼品详情的活动类型修改*/
.act{
	padding:10px 10px 10px 2px;
}
.act .actstyle{
	width:30%;
}
.act .city{
	width:70%;
}
.gift-actstyle{
	padding:5px 10px 10px 2px; 
}
.gift-actstyle .actstyle{
	display:inline;
	width:30%;
	padding-top:12px;
}
.gift-actstyle .category{
	width:70%;
	padding-top:5px;
}
.gift-actstyle .category span{
	margin-left:1%;
	margin-right:3%;
}
/*场地基础设施和适用活动修改*/
.activebase .padt10 .space-workfor{
	width:70%;
	display:inline-block;
	padding:0px 2px 5px 1px;
}

/*新的cdying主页*/
.header .newhead-left-icon {
    position: absolute;
    top: 0px;
    display: block;
    text-align: center;
    padding-top: 4px;
    width:80px;
    left:2px;
	}
.header .head-right-icon {
    position: absolute;
    top: 4px;
    right: 2px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.mainlist{
	padding:0 5px;
	background:#fff;
	position:relative;
	}
.mainlist .news{
	width:100%;
	}
.mainlist .news	.newspic{
     padding-top: 8px;
     margin-left: 1%;
     height: 32px;
     line-height: 32px;
     padding-bottom: 9px;
      border-bottom: 1px solid rgba(16,2,7,0.06);
	}
.mainlist .news	.newsword{
	font-family:"微软雅黑";
	font-size:12px;
	padding-left:2%;
	height:32px;
	line-height:32px;
	overflow:hidden;
	width:90%;
	 border-bottom: 1px solid rgba(16,2,7,0.06);
	}
.mainlist .piclist{
	width:100%;
	height:130px;
	}
.mainlist .piclist .mainpic{
	width:30%;
	margin-left:2%;
    text-align:center;
	padding-top:17px;
	}	
.mainlist .piclist .mainpic .word{
	font-family:"微软雅黑";
	font-size:13px;
	}
.contactus{
	position:fixed;
	display:block;
	right:4px;
	top:377px;
	z-index:50;
	}
.space-ul-box{
		padding: 0px 5px;
		margin-bottom:5px;
		background:#fff;
		}
.firstlist{
	height:40px;
	background:#fff;
	position:relative;
    padding:13px 10px;
    border-bottom: 1px solid rgba(16,2,7,0.06);
	}
.firstlist .hotspace{
	color:#484848;
	font-size: 13px;
	}
	
/*newlist*/	
.workfor{
    top: 50px;
    left:0px;
    background: #FFF ;
    position: fixed;
    height: 45px;
    line-height:45px;
    width:100%;
    white-space: nowrap;
    z-index:42;
	}
#scroller{
  position: fixed;
  white-space: nowrap;
  -webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#scroller .workforlist{
	list-style:none;
	overflow:hidden;
	width:100%;
	margin-left:6px;
	}
#scroller .workforlist li{
	display:inline-block;
	width:23%;
	text-align:center;
	font-size:16px;
	color:#3c3c3c;
	}
#scroller .workforlist li.active{
	background:#a0bdf4;
	border:1px solid;
    border-radius:16px;
	height:36px;
	line-height:33px;
	color:#fff;
	}
.search-box .giftlist li .word {
	color:#757575;
	}
.ul-box .space-list{
	margin-top:-5px;
	}
.space-li-right .title{
	font-size:14px;
	color:#000;
	}
.space-li-right	 .address{
	color:#a5a5a5;
	font-size:13px;
	padding-top:4px;
	}
.space-li-right	.style .cost{
	color:#a5a5a5;
	font-size:13px;
	padding-top:4px;
	}
.space-li-right	.style .stylecolor{
	color:#E6C680;
	font-size:13px;
	padding-top:4px;
	margin-left:5px;
	}	
.gift{
	background:#fff;
	position:relative;
	margin-bottom:10px;
	margin-top:8px;
	}
 .gift-list-pic{
	width:100%;
	height:100%;
	/*position:absolute;*/
	background:#f0f0f0;
	top:140px;
	}
 .gift-list-pic .giftpic{
	width:50%;
	text-align:center;
	padding:12px 5px;
	}
 .gift-list-pic .rightbd{
	border-right: 1px solid rgba(16,2,7,0.06);
	}	
 .gift-list-pic .giftpic .giftword{
	color:#484848;
	font-size:13px;
	padding-top:2px;
	float:left;
	padding-left:5px;
	}	
/*右上角菜单栏*/	
.rightmenu-mc{
	position:absolute;
	top:0px;
	right:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.4);
    z-index:59;
	}
.rightmenu{
	position:absolute;
	top:52px;
	right:4px;
	background:#fff;
	font-size:14px;
	z-index:60;
	width:147px;
	border-radius:4px;
	border:1px solid #ccc;
	}
.rightmenu ul li{
	position:relative;
	height:45px;
	line-height:45px;
	}	
.rightmenu ul li img{
	margin-left:15px;
	margin-right:8px;
	}	
.rightcorner {
  width: 0px;
  height: 0px;
  border-bottom:15px solid #fff;
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  position: absolute;
  top: 40px;
  right:14px;
  z-index:65;
}
/*兼容性*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*space 水平滚动列表*/
.slidedown{
  position:fixed;
  width: 45px;
  top:50px;
  right:0px;
  background:#fff;
  height: 43px;
  line-height: 37px;
  margin-top: 1px;
  z-index:42;
}
.slidedown .morelist{
	position:absolute;
	right:13px;
	top: 16px;
	display:block;
}
.search-box .workfor-list{
  position: relative;
  margin-top:-45px;
  left: 6px;
  top: 44px;
  z-index: 30;
  background: #fff;
  padding-top: 16px;
  padding-bottom: 6px;
  width: 100%;
}
/*倒计时滚动*/
.newsword a{
	display:block;
	font-family:"微软雅黑";
	font-size:12px;
	line-height:32px;	
	text-decoration:none;
	color:#484848;
}
/*系统颜色定义*/
.red{
	color: red;
}
/*点击图片放大*/
.max{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	z-index:51;
	text-align:center;
}
.max .heiht30{
	height:30%;
}
.max .addWrap1{
	height:40%;
	text-align:center;
}
#position1{
  padding-right: 8px;
  margin: 0;
  opacity: 0.4;
  width: 100%;
  margin-top: 15%;
}
#position1 li.cur {
  background-color: #FF0000;
}
#position1 li {
  width: 10px;
  height: 10px;
  margin: 0 2px;
  display: inline-block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #AFAFAF;
}
#mySwipe1{
	height:100%;
}
#mySwipe1 .swipe-wrap img{
	height:222px;
}
.worddescription1 {
  position: absolute;
  left: 0px;
  bottom: -1px;
  background: black;
  width: 100%;
  height: 47px;
  color: #fff;
  line-height: 20px;
  padding-top: 15px;
  font-size: 17px;
}
/*礼品详情 图片点击时变大*/
.max .banner{
	height:40%;
}
.max .banner .hdname1{
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 49px;
  color: #fff;
  line-height: 43px;
  font-size: 17px;
}
/*下拉加载*/
.outer{
  position: absolute;
  width: 100%;
  /*height: 100%;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
 .inner{
   -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
 }
.inner .item{
   display: inline-block;
  -ms-flex-align: center;
  -webkit-box-align: center;
   box-align: center;
  -webkit-align-items: center;
   align-items: center;
}
.opacity {
  -webkit-animation: opacity 0.5s linear;
  animation: opacity 0.5s linear;
}
@-webkit-keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
}
.dropload-refresh,.dropload-update,.dropload-load{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-transform:translate(-50%,0);
    transform:translate(-50%,0);
}
.dropload-load .loading{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 16px;
  	left: 25%;
    border: 2px solid #666;
    border-bottom-color: transparent;
    -webkit-animation: rotate 0.75s 0 linear infinite;
    animation: rotate 0.75s 0 linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*下拉加载样式影响场地样式，需修改*/
.ul-box .data-list li{
	display:block;
}
/*活动图片宽度调整*/
.inner .itemwidth{
	width:100%;
}
/*筛选提示*/
.choose{
	width:100%;
	z-index:34;
}
.choose .chose{
	padding:7px 14px;
	width:33%;
}
.choose .chose .cpic{
   position:absolute;
   margin-top:5px;
   width:25%;
   backgroud-repeat:no-repeat;
}
.choose .chose .cword{
	color:#cba34b;
	position:relative;
	width:100%;
	text-align:center;
}
.gift-inner{
	margin-top:8px;
}